{% extends 'articles/base.html' %}
{% block title %}Article - HUB{% endblock %}
{% block content %}
    <h1>Последние Статьи</h1>

    {% if articles %}

    {% for article in articles %}
            <div class="md-4 pb-4 border-bottom">
                <h2 class="h4">{{ article.title }}</h2>
                <p class="text-muted">
                    {{ article.content|truncatechars:150}}
                </p>
            <a href="{% url 'article_detail' article.id %}" class="text-decoration-none">
                Читать больше->
            </a>
        </div>
    {% endfor %}
        {% else %}
        <p class="text-muted"> Статей пока нет</p>
    {% endif %}
{% endblock %}