{% extends 'articles/base.html' %}
{% block title %}{{ title }} | ArticleHub{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="post">
        {% csrf_token %}



        {% for field in form %}
            <div class="mb-3">
                {% if field.name == 'isPublished' %}
                    <div class="form-check">
                        {{ field }}
                        <label class="form-check-label">{{ field.label }}</label>
                    </div>
                    {% else %}
                        <label class="form-label">{{ field.label }}</label>
                        {{ field }}
                    {% endif %}

            {% if field.errors %}
                <div class="text-danger mt-1">{{ field.errors|striptags }}</div>
            {% endif %}

            </div>

        {% endfor %}
        <button type="submit" class="btn btn-dark">Опубликовать</button>
    <a href="{% url 'article_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
{% endblock %}