body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    background-color: #f8f9fa;
}
.header{
    text-align: center;
    background-color: #ffffff;
    padding: 40px 20px;
    border-bottom: 1px solid #ddd ;
}
.header h1{
    font-weight: 690;
    margin-bottom: 20px;
    color: #0d6efd;
}
.top-btns{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.top-btns a, button{
    background-color: transparent;
    border: 1px solid #0d6efd;
    color: #0d6efd;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}
.top-btns a:hover .top-btns button:hover{
    background-color: #0d6efd;
    color: white;
}
main{
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}
section{
    background: white;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
h2, h3, h4{
    color: #222;
    border-left: 3px solid #0d6efd;
    padding-left: 15px;
    margin-bottom: 20px;
}
.abtme{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.Photo-profile{
    border-radius: 10px;
    display: block;
    object-fit: cover;
}
.skills-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.skills-list li {
    background: #eef5ff;
    padding: 10px;
    border-radius: 5px;
}

.skills-list i {
    color: #0d6efd;
    margin-right: 8px;
}

table{
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}
th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
}
th{
    background-color: #f1f1f1;
}
.reg-form input, .reg-form textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
    margin-top: 5px;
}
.btn-submit{
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 13px 25px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    width: 100%;
}
.btn-submit:hover{
    background-color: #0a58ca;
}
.footer{
    text-align: center;
    padding: 40px 20px;
    background-color: #222;
    color: white;
}
.footer a{
    color: #0d6efd;
    text-decoration: none;
}
.footer hr{
    border: 0;
    border-top: 1px solid #444 ;
    margin-bottom: 20px;
}