body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    margin: 70px auto;
}
h1{
    text-align: center;
    justify-content: center;
    color: aliceblue;
    font-size: 36px;
}
p{
    text-align: justify;
    color: aliceblue;
    font-size: 20px;
}
